<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>8306900265-fc0qmrpqv0mmfbeo1nsthtltcu7ff32d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.8306900265-fc0qmrpqv0mmfbeo1nsthtltcu7ff32d</string>
	<key>API_KEY</key>
	<string>AIzaSyDYkM0Dp2XwWBcPU65d4bAajwHEM-O0huM</string>
	<key>GCM_SENDER_ID</key>
	<string>8306900265</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cod3breaker.TechFeed</string>
	<key>PROJECT_ID</key>
	<string>techfeed-ec29f</string>
	<key>STORAGE_BUCKET</key>
	<string>techfeed-ec29f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:8306900265:ios:fe0c07c0104c9946c68b38</string>
	<key>DATABASE_URL</key>
	<string>https://techfeed-ec29f.firebaseio.com</string>
</dict>
</plist>